*
{
	font-family:verdana;
	/* color: #333; */
	box-sizing: border-box;
	transition-duration: 0.1s;
	-webkit-transition-duration: 0.1s;
	
}

body
{
	animation: fadeIn 1.5s ease-in;
	perspective: 1200px;
	min-width: 900px;
}

#menu
{
	position: sticky;
	z-index: 99999;
    width: 100%;
    height: 50px;
	left: 0px;
	top: 10px;
	right: 0px;
    text-align: center;
	color: rgb(187, 234, 250);
    background-color: #333;
	box-shadow: 0 2px 15px 2px black;
	opacity: 0.85;

}

.menuItem{
	padding: 0px 7px 0px 7px;
	color: #f2f2f2;
	text-decoration: none;
	font-size: 20px;
	font-weight: 900;
}

.menuIcon
{
	height: 40px;
	animation: spin 3.5s ease-in-out;

}

/* .menuIcon:hover
{
	animation: spin 2s ease-in-out;

} */

.menuItem:hover
{
	background:linear-gradient(#9e29ff,#ffffff);
	background-size: cover;
	background-position: center;
	background-clip: text;
	-webkit-background-clip: text;
	color: white;
	/* color: white; */
	font-size:24px;
	stroke: black;
	stroke-width: 2px;
	/* text-shadow: 0px 0px 5px white; */
}

html{
	/* background-image: linear-gradient(to right, #55459c, #b7e4f9ff,#55459c);  */
	background-image: linear-gradient(to right,#b7e4f9ff, #e7e0db); 

	/* background: linear-gradient(to right, #2980b9, #8ddaf7, #c0f8ff);   */
	/* background: linear-gradient(to right,  #ffc374, #ffe259, #f3c97c); */
	height: 100%;
}

.heading
{
	color: white;
	/* background-color: rgb(68, 68, 68); */
	background: linear-gradient(to bottom, #333,rgb(33, 56, 66));
	text-align: center;
	height: 35px;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 4px 2px 6px 0px black;
	margin: 10px 20px 10px 20px;

}

.picHeader
{
	background: url(src/smoke.gif);
	background-size: cover;
	background-position: center;
	background-clip: text;
	-webkit-background-clip: border-box;
	color: transparent;
	height: 35px;
	box-sizing: border-box;
	/* margin: 50px 20px 10px 50px; */
	width: 400px;
	margin: auto;
	box-shadow: 4px 2px 6px 0px black;

	color: white;
	text-align: center;
	-webkit-text-stroke: 1px rgb(32, 32, 32);
	font-size: 27px;
	font-weight: 800;

}

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }


.playlist
{
    display: block;
    border-style:none;
	margin: 0 auto;
}

.column 
{
	float: left;
	width: 33%;
	padding: 10px;
	box-shadow: 6px 12px 14px 0px black;
	text-align: center;
	border-radius: 10px;
}
  
.column img
{
	margin-top: 4px;
	border-radius: 5px;

}

.column.left 
{
	z-index: 200;
	background: linear-gradient(to right, #2193b0, #6dd5ed);
	transform: rotateY(30deg);
}
.column.center 
{
	z-index: 0;
	background: #6dd5ed;
	margin-top: 4px;

}
.column.right 
{
	z-index: 200;
	background: linear-gradient(to left, #2193b0, #6dd5ed);
	transform: rotateY(-30deg) ;
}
.picturesBox
{
margin: auto;

}
.row
{
	width: 80%;
	margin: auto;
	/* perspective: 30px; */
	/* transform: rotateX(24deg); */

}

.row:after
{
	content: "";
	display: table;
	clear: both;
}

.clip-text 
{
	/* float: left; */
	margin: 0 auto;
	background: url(src/smoke.gif);
	background-size: cover;
	background-position: center;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	width: 500px;
	height: 150px;
	box-sizing: border-box;
	font-size: 52px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
	flex-shrink: 0;
    text-shadow: 4px 5px 4px #0000004f;
	}

select
{
	font-size: 25px;
}

.clip-text.small
{
	float: inline-start;
	font-size: 40px;
	width: fit-content;
}

.FreeText
{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
}

.qr
{
	margin: 0 auto;
	display: block;
}

.fb
{
	text-align: center;
}

.qa
{
	color: darkslategray;
	margin-left: 40px;
	font-size: 140%;
}

form
{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	background-image: url(src/space.gif);
	background-position: center;
	background-size: cover;
	border-radius: 15px;
	color: white;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	
}

textarea
{
	max-height: 200px;
	max-width: 80%;
	min-width: 30%;
	min-height: 10%;
	resize: both;
}

@keyframes spin {
	0% {
		transform: rotateY(10turn);
	}
	100%{
		transform: rotateY(0turn);
	}
  }

  .spaceship
  {
	  float: left;
	  margin-left: 55px;
	  animation: floating 3s ease-in-out infinite;
	  transform: translatey(0px);

  }

@keyframes floating {
	0% {
		transform: translatey(0px);
	}
	25% {
		transform: translateY(-20px);
	}
	50% {
		transform: translatey(5px);
	}
	75% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}
